* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

#beef {
  background-color: red;
  color: white;
}
#sushi {
  background-color: yellow;
}
#chicken {
  background-color: pink;
}

div.row {
  position: relative;
}

.menu-tile {
  border: solid 2.5px black;
  background-color: rgba(128, 128, 128, 0.3);
  float: left;
  margin-bottom: 5em;
  margin-left: 10px;
  margin-right: 10px;
}

#header-nav {
  background-color: blanchedalmond;
}

.menu-tile > h2 {
  text-align: center;
  border: solid 1px black;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0.25em;
}

.menu-tile > p {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

/********** Large devices only **********/
@media (min-width: 991px) {
}

/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
}
/********** Small devices only **********/
@media (max-width: 766px) {
}
