* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

#beef {
  background-color: red;
  color: white;
}
#sushi {
  background-color: yellow;
}
#chicken {
  background-color: pink;
}

div.row {
  position: relative;
}

div.menu-tile {
  background-color: gray;
  position: absolute;
  /* width: 80%; */
  margin: 10px;
  border: solid 1px black;
}

div.menu-tile > div.menu-tile-title {
  float: right;
  font-size: 120%;
  border: solid 1px black;
  padding-left: 20px;
  padding-right: 20px;
}

div.menu-tile > section {
  float: left;
}

/********** Large devices only **********/
@media (min-width: 991px) {
}

/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
}
/********** Small devices only **********/
@media (max-width: 766px) {
}
