* {
  border-radius: 0%;
  box-sizing: border-box;
}

#beef {
  background-color: red;
  color: white;
}
#sushi {
  background-color: yellow;
}
#chicken {
  background-color: pink;
}

.menu-tile {
  border: solid 2.5px black;
  background-color: rgba(128, 128, 128, 0.3);
  float: left;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
}

header nav .container-fluid {
  background-color: rgba(128, 128, 128, 0.2);
}

#bs-example-navbar-collapse-1 > ul > li {
  border-top: 1px solid black;
}
#bs-example-navbar-collapse-1 > ul > li:nth-child(1) {
  border-top: 0px;
  margin-top: -5px;
}

@media (min-width: 768px) {
  .hidden-md {
    display: none;
  }
  nav.navbar.navbar-default {
    border-bottom: solid 1px black;
    border-radius: 0%;
  }
}

@media (max-width: 768px) {
  nav div div.navbar-header {
    border-bottom: solid 1px black;
    border-radius: 0%;
  }
}

.menu-tile > h2 {
  text-align: center;
  border: solid 1px black;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0.25em;
}

.menu-tile > p {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
